<!--<h1>
  {{title}}
</h1>
<button (click)="onClickMe()">Click me!</button>
{{message}}

<br />
<br />
<input (keyup)="onKey($event)" />
<p>{{values}}</p>

<br />
<input #inputTitle (keyup)="onKeyUp(inputTitle.value)" />
<p>{{titleValue}}</p>

<br />
<input #inputWithEnter (keyup.enter)="titleValueWithEnter=inputWithEnter.value" (blur)="titleValueWithEnter=inputWithEnter.value" />
<p>{{titleValueWithEnter}}</p>-->

<div class="container">
  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Angular Form</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <form action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input #newHero class="mdl-textfield__input" type="text" id="newHeroName">
          <label class="mdl-textfield__label" for="newHeroName">Hero Name</label>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" (click)="addHero(newHero.value);newHero.value=''">Save</button>
      </form>

      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Hero Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of heroes">
            <td class="mdl-data-table__cell--non-numeric">{{item}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        <!--Get Started-->
      </a>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
    </div>
  </div>
</div>